<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <router-outlet (activate)="getElement($event)"></router-outlet>
  <div *ngIf="userLogged">
    <button *ngIf="isAddVisible; else elseBlock" (click)="toggleAddVisible()" mat-raised-button>Hide
      Form</button>
    <ng-template #elseBlock><button (click)="toggleAddVisible()" mat-raised-button>Add a new question...</button>
    </ng-template>
    <app-add-question [isAuthenticated]="userLogged" *ngIf="isAddVisible" (formSubmit)="getFormSubmit($event)">
    </app-add-question>
  </div>
</div>
<app-questions [isAuthenticated]="userLogged"></app-questions>
