<div>
  <form (ngSubmit)="onFormSubmit()">
    <mat-form-field>
      <input matInput placeholder="Question" name="title" [(ngModel)]="title" [formControl]="titleInp" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        placeholder="Further explanation" name="content" [(ngModel)]="content" [formControl]="contentInp"
        required></textarea>
    </mat-form-field>
    <button mat-raised-button [disabled]="titleInp.invalid || contentInp.invalid" (click)="addQuestion(title, content)"
      type="submit">Submit</button>
  </form>
</div>
